/*-------------------------------*/
/*basic setups*/
/*orange color #e67e22*/
/*-------------------------------*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    background: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------------------*/
/*reusable components*/
/*-------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
    
}
section {
    padding: 80px 0;
    
}

/*-------------------------------*/
/*paragraphs*/
/*-------------------------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    
}
.box p{
    padding: 1%;
    line-height: 145%;
    
}


/*-------------------------------*/
/*icons*/
/*-------------------------------*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

/*-------------------------------*/
/*buttons*/
/*-------------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
    
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
    
}
.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background: #cf6d17;
}
.btn-full:hover,
.btn-full:active,

{
   
    border: 1px solid #cf6d17;
    
    
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
    
}
/*-------------------------------*/
/*features*/
/*-------------------------------*/
.section-features .long-copy {
    margin-bottom: 30px;
}
/*-------------------------------*/
/*headings*/
/*-------------------------------*/
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/hero-text.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
header#calculator-header{
    background-image: none;
    background-size: cover;
    background-position: center;
    background-color: black;
    height: 25%;
    font-weight: 300;
    font-size: 20px;

}
h1, h2, h3{
   
    font-weight: 300;
    text-transform: uppercase;
    
    
    
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
     color: #fff;
     font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    

}
h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center
    
}
/*-------------------------------*/
/*header*/
/*-------------------------------*/
.hero-text-box {
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.logo
{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 15px;
    
    
}


/*-------------------------------*/
/*main nav*/
/*-------------------------------*/
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
    
}
.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
    
}
.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    
}
/*-------------------------------*/
/*sticky nav*/
/*-------------------------------*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.98);
    z-index: 9999;
    
}
.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
    padding: 4px 0;
    
   
}
.sticky .main-nav{
    
    margin-top: 25px;
}
.sticky .logo {
      height: 70px;
    width: auto;
    float: left;
    margin-top: 4px;
}

/*-------------------------------*/
/*mobile navigation*/
/*-------------------------------*/
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: #fff;
}

/*-------------------------------*/
/*how it works*/
/*-------------------------------*/


.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
     margin-top: 30px;
}
.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
    
    
}
.app-screen {
    width: 70%;
    margin-right: -50px;
    margin-top: -45px;
   
    
}
.works-step:last-of-type{
    margin-bottom: 80px;
}
.works-step {
    margin-bottom: 50px;
}
.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
    
}
btn-app:link,
btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}

/*-------------------------------*/
/*contact form*/
/*-------------------------------*/


.contact-form {
    width: 60%;
    margin: 0 auto;
}
input[type=text], input[type=email], select, textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
textarea{
    height: 100px;
}
*:focus{
    outline-color: #e67e22;
}
/*-------------------------------*/
/*footer*/
/*-------------------------------*/
footer{
    background-color: #333;
    padding: 40px;
    
}
.footer-nav {
    list-style: none;
    float: left;
}
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link, 
.footer-nav li a:visited{
    color: #888;
    padding-bottom: 1px;
    transition: color 0.2s;
    text-decoration: none;
    
}
.footer-nav li a:hover, 
.footer-nav li a:active{
    color: #ddd;

}
footer p{
    color:#888;
    text-align: center;
    font-size: 90%;
    margin-top: 15px;
}
/*-------------------------------*/
/*animations*/
/*-------------------------------*/
.js--wp-1, .js--wp-2 {
    opacity: 0;
    animation-duration: 1s;
}
/*-------------------------------*/
/*table*/
/*-------------------------------*/

.calculator-table {
  width: 100%;
  height: 100%;
  margin: 0;
    font-weight: 200;
    font-size: 15px;

 background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/resources/img/calculator-img.jpg);
    background-size: cover;
    background-position: center;
     height: 100vh;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
    color: white;
 position: relative;
    margin-top: 5px;
   margin-left: 20px;
    margin-right: 20px;
   
    
}

td, th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 10px;
}
